<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660700673634-vcjv1kdmvmvf1eh0hkn2ut7cjp2oq2jn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660700673634-vcjv1kdmvmvf1eh0hkn2ut7cjp2oq2jn</string>
	<key>API_KEY</key>
	<string>AIzaSyCqjz1wHR7aJValaZyWlxVymWdXVKicpP0</string>
	<key>GCM_SENDER_ID</key>
	<string>660700673634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseIntegration</string>
	<key>PROJECT_ID</key>
	<string>flutter-demo-b3877</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-demo-b3877.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660700673634:ios:5e501462e10bf5eb37033b</string>
</dict>
</plist>